/* * */
html{
    scroll-behavior: smooth;
}

/* placeholder images */
.productImageSize{
    margin:auto;
    height:400px;
    width:570px;
}

/* header */
.rain {
    background-image: url('./Images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height:100%;
  }

  .companyName{
      position: absolute;
      font-size: 30px;
      color:white;

  }


.logo{
      position: absolute;
      z-index: 1; 
  }


  .showModal{
    display: flex;
 }


/* nav */


/* About section */
.aboutUs, .productImages{
    display: flex;
}

/* form styles */
.input,.textarea{
    max-width: 50% !important;
    margin:auto;
 }
 
 .preOrder{
     margin-top: 30px;
 }

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }



   @media screen and (max-width: 500px) {
    .productImages{
        display: none;
    }
}

 @media only screen and (min-width: 501px) {
    .carousel-inner,.carousel-indicators{
        display: none;
    }

    }