html{
    scroll-behavior: smooth;
}

/* Form Styles */


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }


.input,.textarea{
   max-width: 50% !important;
   margin:auto;
}

.preOrder{
    margin-top: 30px;
}

.aboutUs, .productImages{
    display: flex;
}


.is-128x128,.is-480x800{
margin:auto;
}

  #myVideo {
    position: absolute;
    right: 0;
    min-width: 100%; 
    height:auto !important;
    z-index: -1;
  }


  .logo{
      position: absolute;
      z-index: 1; 
  }

  .logoDiv{
      margin-bottom: 50%;
  }

  .showModal{
    display: flex;
 }
