/* * */
html{
    scroll-behavior: smooth;
}

/* placeholder images */
.is-128x128,.is-480x800{
    margin:auto;
}


/* header */
.rain {
    background-image: url('./Images/header.jpg');
    background-size: cover;
    z-index: -1;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height:100%;
  }



.logo{
      position: absolute;
      z-index: 1; 
  }


  .showModal{
    display: flex;
 }



 @media screen and (max-width: 500px) {
    .productImages{
        display: none;
    }
}

    
 @media only screen and (min-width: 501px) {
    .carousel-inner{
        display: none;
    }

    }


 


/* nav */


/* About section */
.aboutUs, .productImages{
    display: flex;
}

/* form styles */
.input,.textarea{
    max-width: 50% !important;
    margin:auto;
 }
 
 .preOrder{
     margin-top: 30px;
 }

/* footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }

